.menu-container-normal {
    position: fixed;
    top: 60px;
    left: 0px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
    height: 100vh;
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    transition: ease-in .5s;
  }

  .menu-container-settings {
    position: fixed;
    top: 60px;
    left: 0px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: flex-start;
    align-items: center;
    width: 250px;
    height: 100vh;
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    transition: ease-out .5s;
  }
  
  .menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    transition: all 0.3s ease;
  }
  
  .menu-item:hover {
    cursor: pointer;
  }
  
  .menu-item div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .menu-item i {
    font-size: 2rem;
    transition: font-size 0.3s ease;
    color: #3a4a8d;
  }
  
  .menu-item:hover i {
    font-size: 2.2rem;
    cursor: pointer;
    color: #40539c;
  }
  
  .menu-item span {
    margin-top: 0.5rem;
    padding-left: 1rem;
    color: white;
  }