.invoices-nondetailed-list {
    background-color: aqua;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 15%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    grid-auto-rows: minmax(100px, auto);
    gap: 0;
}

.ndinvoicebox {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 1px solid rgb(133, 133, 133);
    padding: 0;
    margin: 0;
}

.ndinvoicebox h2 {
    color: black;
    font-size: 16px;
}

.main-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
}