.merchant-reg-container {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    align-items: center;
    border-radius: 10px;
    padding: 30px;
  }
  
.merchant-reg-form {
      display: flex;
      flex-direction: column;
      color: #ffffff;
      align-items: center;
}

.merchant-reg-form h3, label{
  color: black;
}
    
.merchant-reg-form input {
      padding: 10px;
      margin-bottom: 20px;
      border: none;
      border-radius: 5px;
      background-color: #f1f1f1;
      box-shadow: 1px 1px #000000;
      color: #000000;
      outline: none;
}
    
.merchant-reg-form button {
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      background-color: #071013;
      color: #ffffff;
      cursor: pointer;
}
  
.link-btn {
      padding: 10px 20px;
      margin-top: 50px;
      border: none;
      border-radius: 5px;
      background-color: #0f355e;
      color: #ffffff;
      cursor: pointer;
      transition: all 0.3s ease;
}
  
.link-btn:hover {
      background-color: #75ABBC;
      border: 1px solid black;
}