* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    background-color: rgb(255, 255, 255);
}

.app-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #457b9d;
}

.app-content-dashboard {
  display: flex;
  position: absolute;
  left: 200px;
  top: 60px;
  background-color: rgb(79, 248, 0);
  justify-content: center;
  align-items: center;
  width: calc(100% - 200px);
  height: calc(100% - 60px);
}

.app-content-other {
    background-color: white;
}