.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.main-trial-button {
  border-radius: 5px;
  border: 1px solid black;
  width: 25%;
  height: 5vh;
  background-color: black;
  transition: all ease 0.3s;
  
}

.main-trial-button:hover {
  border-radius: 4px;
  border: 1px solid black;
  width: 25.5%;
  background-color: rgb(27, 28, 29);
  transition: all ease 0.3s;
}

.main-splash-text {
  font-size: 20px;
}

.main-container h1, h3{
  font-family: 'Raleway', sans-serif;
  color: white;
}

.for-business {
  padding-top: 400px;
}